.gradient-background {
  background: linear-gradient(300deg, #98DDCA, #D5ECC2, #FFD3B4);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.about-amanda {
  height: 200px;
  border-radius: 40%;
}

.fishing-amanda {
  height: 200px;
  border-radius: 5%;
  
}

.magic-amanda {
  height: 300px;
  border-radius: 5%;
  
}

h1, h2 {
  color: #468585 ;
}


